<a href="https://colab.research.google.com/github/Wilsonmfreire/Treinando_Spark_com_Pyspark/blob/main/fun%C3%A7%C3%B5es_agregadas_pyspark%20_com_exemplo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

In [3]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [4]:
!pip install -q findspark

In [7]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64" 
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [9]:
import findspark 
findspark.init()

In [10]:
from pyspark.sql import SparkSession

In [16]:
spark = SparkSession.builder\
.master('local[*]')\
.appName('Iniciando com Spark')\
.config('spark.ui.port', '4050')\
.getOrCreate()

### Criando DataFrame para treino dos agregadore

In [19]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100) 
]
schema = ["nome", "departamento", "salario"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show()

root
 |-- nome: string (nullable = true)
 |-- departamento: string (nullable = true)
 |-- salario: long (nullable = true)

+-------+------------+-------+
|   nome|departamento|salario|
+-------+------------+-------+
|  James|       Sales|   3000|
|Michael|       Sales|   4600|
| Robert|       Sales|   4100|
|  Maria|     Finance|   3000|
|  James|       Sales|   3000|
|  Scott|     Finance|   3300|
|    Jen|     Finance|   3900|
|   Jeff|   Marketing|   3000|
|  Kumar|   Marketing|   2000|
|   Saif|       Sales|   4100|
+-------+------------+-------+