<a href="https://colab.research.google.com/github/Wilsonmfreire/Treinando_Spark_com_Pyspark/blob/main/Spark_Udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Instalando o Java
!apt-get install openjdk-8-jdk-headless -qq >/dev/null

In [3]:
#Baixar a versão mais recente do spark
!wget -q https://dlcdn.apache.org/spark/spark-3.2.0/spark-3.2.0-bin-hadoop3.2.tgz

In [4]:
#Dezipar spark
!tar xf /content/spark-3.2.0-bin-hadoop3.2.tgz

In [5]:
#Criar variável de ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64/"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop3.2/"

In [6]:
#instalar a lib findspark que ajuda a localizar o Spark no sistema e importá-lo como uma biblioteca regulgar
!pip install -q findspark

In [7]:
#import a lib findspark
import findspark
findspark.init()

In [8]:
#criar spark session
#StructField
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import SQLContext
from pyspark.sql.functions import * 
from pyspark.sql import functions as Fun

spark = SparkSession.builder\
        .master('local')\
        .appName('sparkcolab')\
        .getOrCreate()

In [ ]:
#Upload de arquivos
from google.colab import files
arquivo = files.upload()

In [9]:
!wget www.datascientist.com.br/bigdata/download.zip

--2021-12-08 18:10:47--  http://www.datascientist.com.br/bigdata/download.zip
Resolving www.datascientist.com.br (www.datascientist.com.br)... 108.179.192.203
Connecting to www.datascientist.com.br (www.datascientist.com.br)|108.179.192.203|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 207452 (203K) [application/zip]
Saving to: ‘download.zip’

download.zip        100%[===================>] 202.59K   423KB/s    in 0.5s

2021-12-08 18:10:48 (423 KB/s) - ‘download.zip’ saved [207452/207452]

In [10]:
!unzip /content/download.zip

Archive:  /content/download.zip
   creating: download/Atividades/
  inflating: download/Atividades/Clientes.parquet
  inflating: download/Atividades/ItensVendas.parquet
  inflating: download/Atividades/Produtos.parquet
  inflating: download/Atividades/Vendas.parquet
  inflating: download/Atividades/Vendedores.parquet
  inflating: download/Carros.csv
  inflating: download/Churn.csv
   creating: download/demo/
  inflating: download/demo/1.CreateTable.sql
  inflating: download/demo/2.InsertClientes.sql
  inflating: download/demo/3.InsertIntoProdutos.sql
  inflating: download/demo/4.InsertIntoVendedores.sql
  inflating: download/demo/5.InsertIntoVendas.sql
  inflating: download/demo/6.InsertItensVenda.sql
  inflating: download/despachantes.csv
  inflating: download/iris.csv
   creating: download/mongo/
  inflating: download/mongo/posts.json
  inflating: download/reclamacoes.csv
   creating: download/streaming/
  inflating: download/streaming/1.json14.json
  inflating: download/streaming/2.json44.json
  inflating: download/streaming/3.json14.json
  inflating: download/streaming/4.json26.json
  inflating: download/streaming/5.json29.json
  inflating: download/streaming/6.json14.json
  inflating: download/streaming/7.json59.json

In [ ]:
#Criando primeiro dataFrame
df1 = spark.createDataFrame([("Pedro", 10),("Maria", 20),("Jose",40)])
df1.show( )

In [ ]:
#criando dataFrame com StructField
#nao entendi pq passar o data no createDaaFrame deu certo
dados = [("1", "Pedro"), 
      ("2", "Maria")
    ]

schema = StructType([ \
    StructField("id", StringType(), True),\
    StructField("nome", StringType(), True),\
  ])

df2 = spark.createDataFrame(data=data2,schema=schema)
df2.printSchema()
df2.show()

In [ ]:
#criando dataFrame sem StructField
schema2 = "Produtos STRING, Vendas INT"
vendas = [["Caneta", 10], ["Lápis", 20], ["Caneta", 40]]
df3 = spark.createDataFrame(vendas, schema2)
df3.show()

In [ ]:
#trabalhando com sum
#precisamos agrupar o que não iremos somar e usar .agg(sum("passar coluna com valores"))
agrupados = df3.groupBy("Produtos").agg(sum("vendas"))
agrupados.show()

In [ ]:
#passando o dataFrame direto sem associar ao um novo
df3.groupBy("Produtos").agg(sum("Vendas")).show()

In [ ]:
# Trabalhando com select e expressões
df3.select('Vendas').show()
df3.select('Produtos',\
           'Vendas',\
           expr('Vendas *0.2')).show()

In [ ]:
#Trabalhando com exp e select
df3.select("Vendas").show()
df3.select("Produtos", "Vendas", expr("Vendas *0.2")).show()

In [20]:
#Atribuindo um schema
#Ler arquivo csv
arqschema = "id INT, nome STRING, status STRING, cidade STRING, vendas INT, data STRING"
despachantes = spark.read.csv(
    "/content/download/despachantes.csv",\
    header=False,\
    schema= arqschema\
    )
despachantes.show()
despachantes.printSchema()

+---+-------------------+------+-------------+------+----------+
| id|               nome|status|       cidade|vendas|      data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- status: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- vendas: integer (nullable = true)
 |-- data: string (nullable = true)

In [21]:
#Auto schema do spark
#Ler arquivo csv
#Arquivo sem nome de colunas
desp_autoSchema = spark.read.load(
    "/content/download/despachantes.csv",\
    header = False,\
    format = "csv",\
    sep = ",",\
    inferSchema = True
)
desp_autoSchema.show()
desp_autoSchema.printSchema()

+---+-------------------+-----+-------------+---+----------+
|_c0|                _c1|  _c2|          _c3|_c4|       _c5|
+---+-------------------+-----+-------------+---+----------+
|  1|   Carminda Pestana|Ativo|  Santa Maria| 23|2020-08-11|
|  2|    Deolinda Vilela|Ativo|Novo Hamburgo| 34|2020-03-05|
|  3|   Emídio Dornelles|Ativo| Porto Alegre| 34|2020-02-05|
|  4|Felisbela Dornelles|Ativo| Porto Alegre| 36|2020-02-05|
|  5|     Graça Ornellas|Ativo| Porto Alegre| 12|2020-02-05|
|  6|   Matilde Rebouças|Ativo| Porto Alegre| 22|2019-01-05|
|  7|    Noêmia   Orriça|Ativo|  Santa Maria| 45|2019-10-05|
|  8|      Roque Vásquez|Ativo| Porto Alegre| 65|2020-03-05|
|  9|      Uriel Queiroz|Ativo| Porto Alegre| 54|2018-05-05|
| 10|   Viviana Sequeira|Ativo| Porto Alegre|  0|2020-09-05|
+---+-------------------+-----+-------------+---+----------+

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: string (nullable = true)

In [ ]:
#Trabalhando com operadores
#<, >, &, |
despachantes.select('id',\
                    'nome',\
                    'vendas')\
                    .where(Fun.col('vendas')>20)\
                    .show()

despachantes.select('id',\
                    'nome',\
                    'vendas')\
                    .where((Fun.col('vendas')>20) & (Fun.col('vendas')<40))\
                    .show()

In [ ]:
despachantes.select('id', 'nome','vendas').where(Fun.col('vendas')>20).show()
despachantes.select('id', 'nome','vendas').where((Fun.col('vendas')>20) & (Fun.col('vendas')<40)).show()